.superx {
  text-align: center;
}
.superx .logo {
  height: 68px;
  animation: app-logo-spin infinite 20s linear;
}
.superx .header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}
.superx .header .title {
  padding: 20px;
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
